<footer class="w-full text-gray-400 pb-2 m-0">
  <div class="container mx-auto flex items-center justify-center space-x-3">
    <img src="assets/img/logo.png" alt="logo" class="w-6 h-6" />

    <p>
      Leia o  
      <a
        href="https://martinsevandro.github.io/posts/third-post/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-gray-100 hover:underline font-medium transition-colors"
      >
        post 
      </a>
      sobre este projeto.
    </p>
  </div>
</footer>
