<nav
  class="flex flex-col bg-gray-800 text-white px-4 py-2 gap-2 rounded-md w-full max-w-[1024px] mx-auto"
> 
  <div class="flex flex-wrap items-center gap-2 w-full"> 

    <ng-container *ngIf="currentRouter === '/' || currentRouter === '/home'">
      <form
        (ngSubmit)="buscarCarta()"
        class="flex flex-wrap gap-2 w-full"
      >
        <input
          [(ngModel)]="name"
          name="name"
          required
          placeholder="Riot ID"
          class="w-full sm:w-[180px] p-2 rounded-md bg-gray-800 text-white placeholder-gray-400 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-600"
        />

        <input
          [(ngModel)]="tag"
          name="tag"
          required
          placeholder="Tagline"
          class="w-full sm:w-[140px] p-2 rounded-md bg-gray-800 text-white placeholder-gray-400 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-600"
        />

        <select
          [(ngModel)]="server"
          name="server"
          required
          class="w-full sm:w-[80px] min-h-[41px] p-2 rounded-md bg-gray-800 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-600"
        >
          <option value="br1">Brazil (BR)</option>
          <option value="na1">North America (NA)</option>
          <option value="euw1">Europe West (EUW)</option>
          <option value="eun1">Europe Nordic & East (EUNE)</option>
          <option value="kr">Korea (KR)</option>
          <option value="jp1">Japan (JP)</option>
          <option value="la1">Latin America North (LA1)</option>
          <option value="la2">Latin America South (LA2)</option>
          <option value="oc1">Oceania (OC1)</option>
          <option value="tr1">Turkey (TR1)</option>
          <option value="ru">Russia (RU)</option>
          <option value="ph2">Philippines (PH2)</option>
          <option value="sg2">Singapore (SG2)</option>
          <option value="th2">Thailand (TH2)</option>
          <option value="tw2">Taiwan (TW2)</option>
          <option value="vn2">Vietnam (VN2)</option> 

        </select>

        <input
          [(ngModel)]="matchId"
          name="matchId"
          placeholder="Match ID (opcional)"
          class="w-full sm:w-[180px] p-2 rounded-md bg-gray-800 text-white placeholder-gray-400 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-600"
        />

        <button
          type="submit"
          class="px-4 py-2 rounded-md bg-gray-700 hover:bg-gray-900 text-white font-semibold"
        >
          Buscar
        </button>

        <button
          type="button"
          (click)="salvarImagem()"
          [disabled]="!cardElement"
          class="px-4 py-2 rounded-md bg-gray-700 hover:bg-gray-900 text-white font-semibold disabled:opacity-50"
        >
          Baixar
        </button>
 
        <button
          type="button"
          *ngIf="isAuthenticated() && cartaEsperada && cardElement && currentRouter === '/'"
          (click)="curtirCarta(cartaEsperada)"
          [disabled]="isProcessing"
          class="px-4 py-2 rounded-md bg-gray-700 hover:bg-blue-900 text-white font-semibold"
        >
          {{ buttonText }}
        </button>
      </form>
    </ng-container>
  </div>
 
  <div class="flex w-full items-center justify-between">
    <button
      *ngIf="isAuthenticated() && currentRouter === '/deck' && cartaEsperada"
      (click)="descurtirCarta()"
      type="button"
      class="mr-4 px-4 py-2 rounded-md bg-gray-700 hover:bg-red-900 text-white font-semibold"
    >
      Desvincular Carta
    </button>

    <div [ngClass]="isAuthPage() ? 'flex gap-6 justify-center w-full' : 'flex gap-4 flex-wrap items-center ml-auto'">
      <ng-container *ngIf="isAuthPage(); else normalNavbar">
        <a routerLink="/" routerLinkActive="font-bold" [routerLinkActiveOptions]="{ exact: true }">Início</a>
        <a *ngIf="!isAuthenticated()" routerLink="/login" routerLinkActive="font-bold">Login</a>
        <a *ngIf="!isAuthenticated()" routerLink="/register" routerLinkActive="font-bold">Registrar</a>
      </ng-container>

      <ng-template #normalNavbar>
        <a routerLink="/" routerLinkActive="font-bold" [routerLinkActiveOptions]="{ exact: true }">Início</a>
        <a *ngIf="isAuthenticated()" routerLink="/deck" routerLinkActive="font-bold">Deck</a>
        <a *ngIf="isAuthenticated()" routerLink="/duel" routerLinkActive="font-bold">Duelo</a>
        <a *ngIf="!isAuthenticated()" routerLink="/login" routerLinkActive="font-bold">Login</a>
        <a *ngIf="!isAuthenticated()" routerLink="/register" routerLinkActive="font-bold">Registrar</a>
        <a *ngIf="isAuthenticated()" (click)="logout()" class="cursor-pointer">Sair</a>
        <span *ngIf="isAuthenticated()" class="text-gray-400">
          Hi, I'm {{ nomeUsuario() }}!
        </span>
      </ng-template>
    </div>
  </div>
</nav>
